#logo{
	height: 24px;
	width: 24px;
	margin-left: 190px;
	margin-top: 27px;
	position: fixed;
}

#stick{
	background-color: black;
	height: 28px;
	width: 1px;
	margin-top: 25px;
	margin-left: 230px;
	position: fixed;
}

#head{
	height: 29px;
	margin-top: 28px;
	margin-left: 247px;
	position: fixed;
}

.search{
	margin-left: 567px;
	margin-top: 25px;

}

.search-icon{
	position: absolute;
	background-image: #d8d8d8;
	width: 10px;
	top: 34px;
	margin-left: 76px;
	cursor: text;
	filter: brightness(2.3);
}



input {
	border:solid 1px #d8d8d8;
	border-radius: 3px;
	height: 28px;
	width: 215px;
	vertical-align: middle;
	position: fixed;
	text-align: center;
	padding-left: 22px;
	background-color: #fafafa;
	background-repeat: no-repeat;
	background-image: url(C:\Users\Пчела\Desktop\Practice-1\Instagram-profile);
}

::-webkit-input-placeholder {
 color: #999;
 font-family: "Segoe UI";
 font-weight: 325;
 font-size: 14px;
 }

.login{
	text-decoration: none;
}
span{
	position: relative;
	left: 70%;
}
.login-but{
	position: relative;
	border: 1px solid #3897f0;
	border-radius: 4px;
	height: 30px;
	width: 59.7px;
	color: white;
	background-color: #3897f0; 
	cursor: pointer;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: 500;
	right: 4px;
	bottom: 1px;

}

.register{
	position: relative;
	left: 7px;
	text-decoration: none;
	color: #3897f0;
	font-family:"Segoe UI";
	font-size: 14px;
	font-weight: 500;
	bottom: 2px;

}

.fixed-nav-bar{
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	width: 100%;
	height: 76px;
	display: block;
	border-bottom: 1px solid #d8d8d8;
	z-index: 2;
}

body{
	background-color: #fafafa;
	position: fixed;
	height: 100%;
	width: 100%
}

.marvel{
	position: relative;
	border: 1px solid transparent;
	border-radius: 50%;
	top: 134px;
	left: 277px;
	z-index: 1;
}

.marvel-text{
	font-family: "Segoe UI", sans-serif;
	font-weight: 100;
	font-size: 28px;
	color: #262626;
	line-height: 32px;
	outline-width: 80px;
	position: relative;
	display: inline-block;
	left: 373px;
	top: 10px;
	z-index: 1;
	
}

.official-logo{
	position: relative;
	height: 21px;
	width: 21px;
	left: 615px;
	bottom: 52px;
	z-index: 1
}

.follow-but{
	position: relative;
	border: 1px solid #3897f0;
	border-radius: 4px;
    color: white;
	background-color: #3897f0; 
	cursor: pointer;
	font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 500;
    width: 104.64px;
    height: 30px;
    right: 302px;
    bottom: 98px;
}